<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{metadata.title}} - {{metadata.author}}</title>
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/post.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav>
            <a href="../index.html">← Back to posts</a>
        </nav>

        <header>
            <!-- date -->
            <p class="date">{{date}}</p>
            <!-- title -->
            <h1>{{title}}</h1>
            <!-- tags -->
            <p>{{tags}}</p>
        </header>

        <main>
            {{content}}
        </main>

        <footer>
            {{metadata.footer}} - <a href="../index.html">Home</a> | <a href="{{metadata.github}}" target="_blank">GitHub</a> | <a href="mailto:{{metadata.email}}">Email</a>
        </footer>
    </div>
</body>

</html>